article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html, body, .root, .App{
  background-color: #212121;
  color: #b3b3b3;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.loginContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.login{
  background-color: #1db954;
  border-radius: 12px;
  border: none;
  height: 30px;
  width: 400px;
  color: white;
  align-self: center;
  margin-top: 50px;
}

.loginContainer h1{
  font-size: 60px;
  margin: 40px;
}




.loginContainer p{
  font-size: 20px;
  margin: 20px 0;
}


.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* body{ */
  /* padding: 10%; */
/* } */


.navigation{
  background-color: #121212;
  width: 20%;
  height: calc(100% - 120px);
  padding: 100px 25px;
  align-self: flex-start;
  margin: 0;
}

.main-content{
  background-color: #1a1a1a;
  width: 60%;
  align-self: flex-start;
  height: calc(100% - 120px);
  overflow-y: auto;
}
.filler{
  width: 20%;
}

h2.main-container-songs, h2.main-container-albums, h2.main-container-artists{
  font-size: 48px;
  /* margin-left: 40px; */
}

.songtrack{
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-left: 40px;
  margin-right: 20px;
  border-bottom: 1px solid #828282;
  
}
.songtrack:hover{
  background-color: #b3b3b3;
  color: white;
}
.playSong{
  text-align: center;
  font-size: 36px;
  flex-basis: 64px;
}
.songName, .songArtists, .songAlbum{
  width: 32%;
  
}

.songDuration
{
  width: 4%;
}

/* sidebar with the friends and stuff.. may not care about this one. */
aside{
  width: 20%;
}

.player-controls{
  color: #b3b3b3;
}

.library, .playlists{
  margin: 10px 0;
}
.playlist, .library-item{
  margin-bottom: 25px;
}
.library-item-last{
  margin-bottom: 45px;
}


.playlist:hover, .library-item:hover, .library-item-last:hover{
  color: white;
}

.player{
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #212121;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.media-controls{
  width: 33%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
}
.control-active{
  color: green
}

.prev, .next{
  margin: 0 40px;
}

.prev, .next, .shuffle, .repeat{
  font-size: 20px;
  line-height: 50px;
}


.songInfo{
  display: flex;
  width: 33%;
  padding: 20px;
}

.player-misc{
  width: 33%;
}

.songInfo img{
  width: 64px;
  height: 64px;
}

.artistInfo{
  display: flex;
  flex-direction: column;
}

.artistInfo div{
  margin: 8px 10px;
}
.albums-wrapper, .artists-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-album, .single-artist{
  margin: 20px;
}

.single-artist{
  text-align: center;
}

.single-album-image, .single-artist-image{
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.single-artist-image{
  border-radius: 50%;
}

.playlist-image{
  width: 240px;
  height: 240px;
  margin-right: 40px;
}

.playlist-image-container{
  display: flex;
  padding-top: 80px;
  padding-left: 40px;
  margin: 0px 0px 40px 0px;
  background: linear-gradient(to bottom, #4b4b4b 0%, #2b2b2b 50%, #1a1a1a 100%);
}
.info-container{
  margin: 80px 0px 40px 40px;
}


.playlist-search-container{
  margin-bottom: 40px;
  margin-left: 40px;
  padding-left: 10px;
}

.playlist-search{
  border: none;
  color: #b3b3b3;
  background-color: #1a1a1a;
  margin-left: 12px;

}

.playlist-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.playlist-name{
  margin-top: 20px;
}

.playlist-play{
  margin-top: 20px;
  background-color: #1db954;
  border-radius: 50px;
  border: none;
  height: 40px;
  width: 120px;
  color: #e9e9e9;
}



#slider-range{
  height: 6px;
  width: 100px;
}
.noUi-horizontal .noUi-handle{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.noUi-horizontal .noUi-handle:active{
  background-color: black;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after{
  display: none;
}

.sound-controls{
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}
.vol-icon{
  /* margin: 5px; */
  padding: 0px 10px;
}
/* .noUi-target{
  height: 5px;
}
.noUi-handle{
  height: 5px;
  color: red;
}
.noUi-base:before{
  height: 50px;
} */
/* .noUi-handle{
  height: 5px;
}

.noUi-handle-lower{
  height: 5px;
} */


/* .noUiSlider{
   height: 100px;
  width: 100px;
} */
/* .noUi-base{
 width: 100px;

  height: 100%;
}

.noUi-origin{
 width: 100px;
  height: 100%;
}
.noUi-handle{
 width: 100px;
  height: 100%;
}

.noUi-connects{
  height: 100%;
 width: 100px;
} */